/* estilo de imagen de androide */
.img1 {
  height: 30px
}
nav{
  opacity: 0.8;
}
/* .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  } */
  /* color #209c1acb */
  /* Estilo del nav */
  .site-header {
    background-color: #000000d9;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
  .site-header a {
    color: #209c1acb !important;
    transition: ease-in-out color .15s;
    font-family: 'Audiowide', cursive;
  }
  .site-header a:hover {
    color: #fff;
    text-decoration: none;
  }
  /* Estilo del footer */
footer{
  background-color:#000000d9 ;
  color: #fff;
}
/* Estilo de portada */
.giro{
    transform: rotate(25deg);
    
}
.giro2{
  transform: rotate(-25deg);
  
}
/* Estilo de tabla */
th{
  border: 2px solid gray;
}
td{
border: 2px solid gray
;
}
.cabezera{
  height: 75vh;

}
.img40{
  margin-left: 20%;
}
.p1{
  font-size: 30px;
}
.p2{
  font-size: 20px;
}
.text-center{
  font-size: 30px;
}
.portada{
  margin-top: 10%;
}
.cjas{
  margin-top: 10%;
  margin-bottom: 15%;
}
  
  
